.col-sm-6 h4{
	color: #0277b8;

}

.col-sm-6 label{
	font-size: 16px;
}

.col-sm-6 input{
	font-size: 16px;
}

.col-sm-6 span{
	font-size: 16px;
}

label span{
	color: red;
}

.your-order-body{
	font-size: 16px;
}